body {
    /* height: 5000px; */
    height: 95.8vh;
    width: 194vh;
    /* border: 20.3px solid #ffe3ea; */
    margin: 0 0 0px 0;
    display: flex;
    /* position: fixed; */
    
}

.border{
    height: 95.8vh;
    width: 193vh;
    border: 20.3px solid #ffe3ea;
    margin: 0 0 0 0;
    display: flex;
    position: fixed;
}

header {
    display: flex;
    height: 100px;
    width: 194vh;
    justify-content: center;
    align-content: space-between;
    position: fixed;
    transition: top 0.2s ease-in-out;
}

.owl-logo{
    width: 10vh;
    height: 7vh;
    padding: 3px;
    background: none;
    border: none;
    color: black;
    filter: brightness(0);
    margin-top: 30px;
    margin-left: -150px;
    position: sticky;
    cursor: pointer;
}

ul {
    display: flex;
    margin-right: 125px;
    margin-top: 40px;
    margin-left: 100px;
}

li {
    list-style: none;
    align-content: space-between;
    padding-left: 135px;
    padding-top: 25px;
    font-size: 11px;
    font-weight: bold;
    font-family: MaisonNeue, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: text 300ms ease-in-out;
    position: sticky;
}
li:hover {
    color: grey;
}

button {
        display: flex;;
        border: none;
        border-radius: 50px;
        padding: 1rem 2rem;
        margin: 0;
        margin-top: 15px;
        text-decoration: none;
        background: #ff0063;
        color: #ffffff;
        font-family: MaisonNeue, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
        font-size: 11px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        right: 125px;
        position: absolute;
        height: 45px;

    }
    
    button:hover,
    button:focus {
        background: white;
        border: #ff0063 solid 1px;
        color: #ff0063;
        font-weight: bold;
    }
    
    button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    button:active {
        transform: scale(0.99);
    }

    .section-1{
        display: fixed;
        position: relative;
        top: 32%;
        left: 23%;
        background-color: #ffe3ea;
        height: 650px;
        margin-top: -125px;
        width: 183vh;
        margin-left: -350px;
    }

    /* .main-section-img {

    } */

    .section-1 h1 {
        font-size: 70px;
        font-family: Eina03, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
        letter-spacing: 5px;
        margin-left: 350px;
        position: relative;
        top: 20%;
    }
